/* .app-div {
    float: left;
} */

.left-sections {
  float: left;
  padding-left: 10px;
  margin-top: 5px;
  background-color: rgb(245, 247, 248);
  position: relative;
}

.right-sections {
  width: 81%;
  float: left;
}

img {
  vertical-align: middle;
  height: 60px;
  width: 60px;
}

.hide {
  display: none;
}

.show {
  display: block;
}
